<p>
  <strong>Language:</strong>
  <%= @tip.language %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @tip.topic %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tip.text %>
</p>

<%= link_to 'BACK', tips_path %>