<p>
  <strong>Language:</strong><br>
  <%= @tip.language %>
</p>

<p>
  <strong>Topic:</strong><br>
  <%= @tip.topic %>
</p>

<p>
  <strong>Code Tip:</strong><br>
  <%= @tip.text %>
</p>

<%= link_to 'BACK', tips_path, class: "button secondary" %>